<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:custom="http://www.sing.com/schema/custom" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.sing.com/schema/custom http://www.sing.com/schema/custom/spring-custom.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--	<bean id="indexService" class="com.sing.service.IndexService">
			<property name="userService" ref="userService"></property>
		</bean>

		<bean id="userService" class="com.sing.service.UserService">
		</bean>-->
<!--	<custom:test password="11111" username="qq" email="qq" ></custom:test>-->
	<bean id="customer" class="com.sing.selfEditor.Customer">
		<property name="name" value="李四"></property>
		<property name="address" value="湖北省_襄阳市_襄州区"></property>
	</bean>
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="propertyEditorRegistrars">
			<list>
				<bean class="com.sing.selfEditor.AddressPropertyEditorRegistrar"></bean>
			</list>
		</property>
	</bean>
	<aop:config>
		<aop:aspect  ref = "userAspect">
			<aop:pointcut id="myPonitcut" expression="execution(public void com.sing.service.UserService.test())"/>
			<aop:around method="around" pointcut-ref="myPonitcut"></aop:around>
			<aop:after method="after" pointcut-ref="myPonitcut"></aop:after>
			<aop:before method="before" pointcut-ref="myPonitcut"></aop:before>
			<aop:after-throwing method="afterThrowing" pointcut-ref="myPonitcut"></aop:after-throwing>
			<aop:after-returning method="afterReturning" pointcut-ref="myPonitcut"></aop:after-returning>

		</aop:aspect>
	</aop:config>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean id="userAspect" class = "com.sing.aspect.UserAspect"></bean>
	<bean id="userService" class = "com.sing.service.UserService"></bean>
</beans>